//VARIABLES
$project-font: "NeueMontreal", serif;

// COLORES
$color-background: #ffffff;
$color-text: #000000;
$color-grey: #e8e5e480;
$color-greyDark: #7f7f7f;

$max-alto: 400px;
$max-ancho: $max-alto * 1.414;

//TEXT SIZES

$big-size: 72px;
$medium-size: 48px;
$small-size: 36px;
